<%- include ('./partials/header.ejs') %>
<html>
    <body>
        <%- include ('./partials/nav.ejs') %>
        <div class="container text-center p-4 mb-2">
            <h2>List of employees</h2>
        </div>
        <div class="">
            <table class="table text-center">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Department</th>
                      <th scope="col">Salary</th>
                      <th scope="col">Options</th>
                    </tr>
                  </thead>
                <% if(employee.length > 0) { %>
                    <% employee.forEach(employee=> { %>
                      <tbody>
                          <tr>
                              <td>
                                  <%= employee.name %>  
                              </td>
                              <td>
                                <%= employee.department %>
                              </td>
                              <td>
                                <%= employee.designation %>
                              </td>
                              <td>
                                <%= employee.salary %>
                              </td>
                              <td>
                                  <a href="" data-toggle="modal" data-target="#edit<%= employee._id %>">
                                    <button class="btn btn-primary btn-sm">Edit</button>
                                  </a>
                                  <a href="" data-toggle="modal" data-target="#delete<%= employee._id %>">
                                    <button class="btn btn-danger btn-sm ml-3">Delete</button>
                                  </a>
                              </td>
                          </tr>
                      </tbody>
                      <div class="modal" role="dialog" id="edit<%= employee._id %>">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit details of <%= employee.name %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>

                            <!-- Edit Modal -->
                            <div class="modal-body">
                                <form action="/update/<%= employee._id %>" method="POST">
                                    <label for=""><b>Name</b></label>
                                    <input type="text" class="form-control"  value="<%= employee.name %>" name="updatedName">
                                    <label for=""><b>Department</b></label>
                                    <input type="text" class="form-control"  value="<%= employee.department %>" name="updatedDepartment">
                                    <label for=""><b>Designation</b></label>
                                    <input type="text" class="form-control"  value="<%= employee.designation %>" name="updatedDesignation">
                                    <label for=""><b>Salary</b></label>
                                    <input type="text" class="form-control"  value="<%= employee.salary %>" name="updatedSalary">
                                    <div class="text-center p-3">
                                        <button class="btn btn-success btn-lg btn-block">
                                            Update
                                        </button>
                                    </div>
                                </form>
                            </div>       
                            
                            


                          </div>
                        </div>
                      </div>


                      <div class="modal" role="dialog" id="delete<%= employee._id %>">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-danger">Delete Record</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>

                            <!-- Edit Modal -->
                            <div class="modal-body">
                                <div class="container text-center">
                                    <h5 class="text-danger">
                                       <b> Are you sure you want to delete the record for <%= employee.name %></b>
                                    </h5>
                                </div>
                                <div class="container">
                                    <form action="/delete/<%= employee._id %>" method="POST">
                                        <button class="btn btn-danger btn-block"><b>Confirm Delete</b></button>
                                    </form>
                                    </div>
                                </div>
                            </div>       
                            
                            

                            
                          </div>
                        </div>
                      </div>
                     <%}) %>
                <% } else{ %>
                    <div class="container text-center">
                        <h3>No employee availaible :(</h3>
                    </div>
              <%  } %>
                </table>

               
        </div>
        
        <!-- Edit Modal -->
        
    </body>
</html>